*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.inner-box{
    /* height: 200px; */
    width: 500px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
}

.text{
    width: 400px;
    height: 50px;
    border-radius: 50px;
    margin: 10px;
    margin-top: 15px;
    text-align: right;
    font-size:x-large;
    padding-right: 20px;
    border: 2px solid black;
}

li{
    list-style: none;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
button{
    height: 70px;
    width: 70px;
    margin: 20px;
    font-size: x-large;
    border-radius: 25px;
}

@media only screen and (max-width: 600px) {
  .inner-box{
    width: 90vw;
    height: 70vh;
  }
  button{
    margin: 10px;
  }
  .text{
    width: 250px;
  }
}